<!DOCTYPE html>
<html lang="en">
<head>
 <title>ShoutBox</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqcloud/1.0.4/jqcloud.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqcloud/1.0.4/jqcloud-1.0.4.min.js"></script>

<script type="text/javascript">
	var words = [
            {{ range . }}
		{text: {{ .Word }}, weight: {{ .Value }} } ,
            {{ end }}
];

$(document).ready(function() {
        $("#demo").jQCloud(words);
});

</script>
    <style type="text/css">
      body {
        background: #eee;
        font-family: Helvetica, Arial, sans-serif;
      }
      #demo {
        margin: 30px auto;
        width: 600px;
        height: 371px;
        border: none;
      }
      #demo span.w10, #demo span.w9, #demo span.w8, #demo span.w7 {
        text-shadow: 0px 1px 1px #ccc;
      }
      #demo span.w3, #demo span.w2, #demo span.w1 {
        text-shadow: 0px 1px 1px #fff;
      }
    </style>
</head>
<body>

<div id="demo" style="width: 550px; height: 250px; border: 0px solid #ccc;"></div>

</html>
